<style th:fragment="style" xmlns:th="http://www.w3.org/1999/xhtml">
    body {
        color: #999999;
        font-face: arial, verdana, helvetica;
        font-size: 12px;
    }

    a, a:hover, a:active, a:visited {
        color: #999999;
    }

    .page {
        -webkit-box-shadow: 10px 10px 59px -35px rgba(0, 0, 0, 1);
        -moz-box-shadow: 10px 10px 59px -35px rgba(0, 0, 0, 1);
        box-shadow: 10px 10px 59px -35px rgba(0, 0, 0, 1);
        margin: auto;
        width: 1000px;

        min-height: 800px;
    }

    .mainmenu ul li {
        display: inline;
        border-bottom: 1px solid #cccccc;
    }

    .submenu ul li {
        display: inline;
        border-bottom: 1px dashed #dddddd;
    }

    /** forms **/
    .form-field {
        width: 200px;
        float: left;
    }

    .form-field input {
        border: 1px solid #cccccc;
        float: left;
        height: 26px;
        margin: 0;
        padding: 0;
        width: 200px;
    }

    div.added {
        background-color: #CCFFCC;
        border: 1px solid #44FF44;
    }


    /*+ header things **/
    .loginBox {
        width: 200px;
        float: right;
    }
</style>