<style th:fragment="style" xmlns:th="http://www.w3.org/1999/xhtml">
    body {
        color: #999999;
        font-face: arial, verdana, helvetica;
        font-size: 12px;
    }

    a, a:hover, a:active, a:visited {
        color: #999999;
    }

    .mainmenu ul li {
        display: inline;
        border-bottom: 1px solid #cccccc;
    }

    .submenu ul li {
        display: inline;
        border-bottom: 1px dashed #dddddd;
    }

    /** forms **/
    .form-field {
        width: 200px;
        float: left;
    }

    .form-field input {
        border: 1px solid #cccccc;
        float: left;
        height: 26px;
        margin: 0;
        padding: 0;
        width: 200px;
    }

    div.added{
        background-color: #CCFFCC;
        border: 1px solid #44FF44;
    }
</style>