<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}">Toolbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style th:replace="fragments/style :: style"></style>
</head>
<body>

<div th:replace="fragments/header:: header"></div>

<ul xmlns:th="http://www.w3.org/1999/xhtml">
    <li>
        <a th:href="/bookmarks">Bookmarks</a>
    </li>
    <li>
        <a th:href="/timetracking">TimeTracking</a>
    </li>
</ul>
</body>
</html>